<%- include('header'); -%>

<!-- topSection Svg animation -->
<!-- svg code moved to SVGsocial.ejs file to shorten/simplify code  -->

<%- include('SVGsocial'); -%>


<!-- topContent section starts -->
<!-- topContent section starts -->
<section id="topContent">

  <h1 class="mainIdea">Share one and connect with many</h1>
  <h3 style="font-weight: 100" class="subIdea">
    The
    <span style="
            text-decoration: underline;
            text-decoration-color: yellow;
            font-weight: 700;
          ">Only Link</span>
    You’ll Ever Need.
  </h3>

  <br />
  <br />

  <a href="/h/register">
    <div class="ui animated fade button goButton" tabindex="0">
      <div class="visible content">Get your links handy.</div>
      <div class="hidden content">
        Go! <i class="arrow circle right icon"> </i>
      </div>
    </div>
  </a>

  <div>
    <p style="
            background-color: white;
            margin: auto;
            margin-top: 40px;
            font-size: 1.2rem;
            position: relative;
            z-index: 10;
            width: 240px;
          ">
      Already on Heckfree? <a href="/h/login">Log in</a>
    </p>
  </div>

  <br />
</section>

<!-- topContent section ends -->

<!-- Mobile section -->
<!-- Here are 3 mobiles animated one over another by Javascript -->

<!-- Mobile1 section starts -->
<div class="mobile" id="card-one">
  <!-- Top Section of mobile1-->
  <div style="display: flex; align-items: center">
    <img src="https://bit.ly/2HvComK" style="
            border: 2px solid white;
            width: 36%;
            margin-left: 15px;
            margin-top: 30px;
            margin-right: 20px;
            border-radius: 100%;
            float: left;
          " alt="myPic" />

    <span>
      <p style="
              margin-left: 0px;
              margin-top: 30px;
              color: white;
              font-size: 1.3rem;
              font-weight: 900;
            ">
        Sujal Gupta
      </p>

      <div id="socials" style="margin-top: 10px">
        <a style="cursor: pointer"><img style="width: 30px; margin-right: 6px" src="icon/facebook.png" /></a>
        <a style="cursor: pointer"><img style="width: 30px; margin-right: 6px" src="icon/twitter.png" /></a>
        <a style="cursor: pointer"><img style="width: 33px; margin-right: 6px"
            src="https://img.icons8.com/fluent/48/000000/instagram-new.png" /></a>
      </div>
    </span>
  </div>
  <!--Top Section of mobile1 ends-->

  <!--Bottom Section of mobile1-->
  <div style="width: 90%; margin: 60px auto">
    <div class="bottom-content" id="item1">
      <i class="linkedin icon"></i>LinkedIn
    </div>
    <div class="bottom-content" id="item2" style="margin-top: 20px">
      <i class="github icon"></i> GitHub
    </div>
    <div class="bottom-content" id="item4" style="margin-top: 20px">

      <i class="behance icon"></i>
      Behance
    </div>

    <div class="bottom-content" id="item3" style="margin-top: 20px">
      <i class="mail icon"></i> Gmail
    </div>
  </div>
  <!--Bottom section of mobile1 ends -->

  <!--Footer of mobile1-->
  <div class="card-footer" style="
          color: white;
          padding: 5px;
          text-align: center;
          font-size: 1rem;
          margin-top: 70px;
          ">
    HeckFree
  </div>
  <!--Footer of mobile1 ends -->
</div>
<!-- mobile1 section ends -->

<!-- Mobile2 section starts -->
<div class="mobile" id="card-two">
  <!-- Top Section of mobile2-->
  <div style="display: flex; align-items: center">
    <img src="https://media-exp1.licdn.com/dms/image/C5603AQHG2HBfNZ1PWw/profile-displayphoto-shrink_200_200/0/1592419898857?e=1612396800&v=beta&t=R7IkT5S3kUPPxYtPjeC3L1LVcEikJ8I59Iuz_Nd8eN4" style="
            border: 2px solid white;
            width: 36%;
            margin-left: 15px;
            margin-top: 30px;
            margin-right: 20px;
            border-radius: 100%;
            float: left;
          " alt="myPic" />

    <span>
      <p style="
              margin-left: 0px;
              margin-top: 30px;
              color: white;
              font-size: 1.3rem;
              font-weight: 900;
            ">
        Aman Dixit
      </p>

      <div id="socials" style="margin-top: 10px">
        <a style="cursor: pointer"><img style="width: 30px; margin-right: 6px" src="icon/facebook.png" /></a>
        <a style="cursor: pointer"><img style="width: 30px; margin-right: 6px" src="icon/twitter.png" /></a>
        <a style="cursor: pointer"><img style="width: 33px; margin-right: 6px"
            src="https://img.icons8.com/fluent/48/000000/instagram-new.png" /></a>
      </div>
    </span>
  </div>
  <!-- top Section of mobile2 ends -->

  <!--Bottom Section of mobile2-->
  <div style="width: 90%; margin: 45px auto">
    <div class="bottom-content" id="item1">
      <i class="adobe icon"></i>Adobe
    </div>
    <div class="bottom-content" id="item2" style="margin-top: 20px">
      <i class="github icon"></i> GitHub
    </div>
    <div class="bottom-content" id="item4" style="margin-top: 20px">
      <i class="dribble icon"></i>
      Dribble
    </div>

    <div class="bottom-content" id="item3" style="margin-top: 20px">
      <i class="mail icon"></i> Gmail
    </div>
  </div>
  <!--bottom section of mobile2 ends -->

  <!--Footer of mobile2-->
  <div class="card-footer" style="
          color: white;
          padding: 5px;
          text-align: center;
          font-size: 1rem;
          margin-top: 70px;
        ">
    HeckFree
  </div>
  <!-- footer of mobile2 ends -->
</div>
<!-- Mobile2 section ends -->

<!-- Mobile3 section starts -->
<div class="mobile" id="card-three">
  <!-- Top Section of mobile3-->
  <div style="display: flex; align-items: center">
    <img src="https://media-exp1.licdn.com/dms/image/C4D03AQE26JU4DNR4ZA/profile-displayphoto-shrink_200_200/0/1605854173463?e=1612396800&v=beta&t=wrZkFMCxFWbFGU_Vrx2qmlYMCMGfyPjkKG41HZBBXYg" style="
            border: 2px solid white;
            width: 36%;
            margin-left: 10px;
            margin-top: 30px;
            margin-right: 10px;
            border-radius: 100%;
            float: left;
          " alt="myPic" />

    <span>
      <p style="
              margin-left: 0px;
              margin-top: 30px;
              color: white;
              font-size: 1.3rem;
              font-weight: 900;
            ">
        Harshit Sharma
      </p>

      <div id="socials" style="margin-top: 10px">
        <a style="cursor: pointer"><img style="width: 30px; margin-right: 6px" src="icon/facebook.png" /></a>
        <a style="cursor: pointer"><img style="width: 30px; margin-right: 6px" src="icon/twitter.png" /></a>
        <a style="cursor: pointer"><img style="width: 33px; margin-right: 6px"
            src="https://img.icons8.com/fluent/48/000000/instagram-new.png" /></a>
      </div>
    </span>
  </div>
  <!--top Section of mobile3 ends-->

  <!--Bottom section of mobile3-->
  <div style="width: 90%; margin: 45px auto">
    <div class="bottom-content" id="item1">
      <i class="linkedin icon"></i>LinkedIn
    </div>
    <div class="bottom-content" id="item4" style="margin-top: 20px">
      <i class="medium icon"></i>
      Medium
    </div>
    <div class="bottom-content" id="item2" style="margin-top: 20px">
      <i class="github icon"></i> GitHub
    </div>

    <div class="bottom-content" id="item3" style="margin-top: 20px">
      <i class="adobe icon"></i> Adobe
    </div>
  </div>
  <!--bottom section of mobile3 ends -->

  <!--Footer of mobile3 -->
  <div class="card-footer" style="
          color: white;
          padding: 5px;
          text-align: center;
          font-size: 1rem;
          margin-top: 70px;
        ">
    HeckFree
  </div>
  <!-- footer of mobile3 ends  -->
</div>
<!-- Mobile3 section ends -->

<!-- Mobile section ends -->

<!-- dotline section -->
<!-- dotted line between mobile and capsule input -->
<div id="dotLine"></div>
<!-- dotline section ends -->

<!-- customName capsule starts -->

<form action="/registerIndex" method="post" style="text-align: center; margin-bottom: 75px">

  <div class="customLinkCapsule">
    <div class="ui labeled input">
      <div class="ui" id="capsule">
        <span style="letter-spacing: 1px; font-size: 1.4rem">
          heckfree/
        </span>
        <!-- <p class="" style="font-size: 1.2rem"> heck.free/ </p>style="letter-spacing: 2px;font-size: 1.2rem" -->
      </div>
      <input id="customLink" name="customLink" type="text" placeholder="your username here" minlength="3" maxlength="12"
        style="text-transform: lowercase;" class="customNameInput" required />
    </div>
    <br>
    <button class="ui icon button" id="customLinkBtn" type="submit">
      <i class="icon arrow alternate circle right outline" style="font-size: 1.8rem;"></i>
    </button>
  </div>
</form>

<!-- customName capsule ends -->

<!-- Features section starts -->

<!-- Feature1 section -->
<div id="feature1">
  <!-- svg code moved to SVGfeature1.ejs file to shorten/simplify code  -->
  <%- include('SVGfeature1'); -%>

  <span id="fone">
    <h1>Get all your links at one place</h1>
    <p style="font-size: 1.5rem">
      Add all your links here, to help others to discover all your important
      content at one go. Add your latest video, article, tour, store,
      website - everywhere you are online.
    </p>
  </span>
</div>
<!-- Feature1 section ends -->

<!-- Feature2 section starts -->
<div id="feature2">
  <span id="ftwo">
    <h1>Manage easily</h1>
    <p style="font-size: 1.5rem">
      Investment of seconds to create heckfree account can save you hours.
    </p>
  </span>

  <img id="feature2svg" src="/icon/heckFreeGoal.svg" alt="goal">
</div>

<!-- Feature2 section ends -->

<!--Feature 3 section starts-->
<div id="feature3" style="margin-top: 150px;">
  <img id="feature3img" src="/icon/feature3.svg" alt="feature">

  <span id="fthree">
    <h1>Multiple Design Template to choose from</h1>
    <p style="font-size: 1.5rem">
      Large Number of Design Template to choose from and in contrast to
      others all these design templates are free to use.Created by top web
      designers.
    </p>
  </span>
</div>
<!--Feature 3 section ends-->

<!-- divs used for displaying messages passed on to ejs using res.render (rest is done below using jQuery) -->
<div id="updateMessage" style="display:none"><%= updateMessage %></div>

<!-- footer section -->
<%- include('footer'); -%>


<script>

  // jQuery code to display a toast message on recieving message through res.render 
  if (document.querySelector("#updateMessage").innerHTML != "") {
    $('#updateMessage')
      .toast({
        class: 'success',
        message: document.querySelector("#updateMessage").innerHTML
      })
      ;
  }

  // JS code to animate mobiles 
  const card1 = document.getElementById("card-one");
  const card2 = document.getElementById("card-two");
  const card3 = document.getElementById("card-three");
  setInterval(() => {
    card1.style.display = "none";
    card3.style.display = "none";
    card2.style.display = "block";
  }, 4000);
  setInterval(() => {
    card2.style.display = "none";
    card1.style.display = "none";
    card3.style.display = "block";
  }, 8000);
  setInterval(() => {
    card2.style.display = "none";
    card3.style.display = "none";
    card1.style.display = "block";
  }, 12000);

  // Jquery code to trigger following menu once the scrollbar passed #topContent section
  $(document).ready(function () {
    // fix menu when passed
    $("#topContent").visibility({
      once: false,
      onBottomPassed: function () {
        $(".fixed.menu").transition("fade in");
      },
      onBottomPassedReverse: function () {
        $(".fixed.menu").transition("fade out");
      },
    });
  });

  // JS code to convert username input to LowerCase
  let customLink = document.getElementById("customLink");
  setInterval(() => convertLowerCase(), 2000);
  function convertLowerCase() {
    customLink.value = customLink.value.toLowerCase();
  }


</script>
</body>

</html>   
